<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>

    <appender name="ConsoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <!--druid start-->
    <appender name="DruidFile" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false">
        <level value="error" />
        <appender-ref ref="DruidFile" />
    </logger>

    <springProfile name="local, dev">
        <logger name="com.alibaba.druid" level="error"/>
        <root level="DEBUG">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="DruidFile" />
        </root>
    </springProfile>
    <springProfile name="dev, qa">
        <logger name="com.alibaba.druid" level="error"/>
        <root level="INFO">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="DruidFile" />
        </root>
    </springProfile>
    <springProfile name="!dev, !qa, !local">
        <logger name="com.alibaba.druid" level="error"/>
        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
            <appender-ref ref="DruidFile" />
        </root>
    </springProfile>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="DEBUG" />
    </logger>
</configuration>